### Data collection to label the offshores wind-parcs of Germany on the map

In [173]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [154]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the page
link = "https://de.wikipedia.org/wiki/Liste_der_deutschen_Offshore-Windparks"

# Fetch the page content
response = requests.get(link)

# Parse the HTML with BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the first table on the page (or specify the exact table if needed)
table = soup.find('table', {'class': 'wikitable'})

# Extract all rows from the table
rows = table.find_all('tr')

# Create a list to hold the rows of data
data = []

# Extract the header (columns) from the first row
headers = [header.get_text(strip=True) for header in rows[0].find_all('th')]

# Extract the table rows (data)
for row in rows[1:]:
    columns = row.find_all('td')
    if columns:  # Only process rows with data
        data.append([column.get_text(strip=True) for column in columns])

# Convert to a DataFrame
offshores = pd.DataFrame(data, columns=headers)

# Ensure the 'Leistung' column is treated as a string to retain the comma
#df['Leistung (MW)'] = df['Leistung (MW)'].astype(str)

# Now you should see the 'Leistung' column with commas intact
#print(df['Leistung (MW)'])
offshores

,Name,Leistung(MW),"Windkraftanlagentyp(Leistung, Rotordurchmesser)",AnzahlWKAs,Koordinaten,Status,Inbetrieb­nahme(Jahr),"Quellen, Anmerkungen"
0,Nordsee,None,None,None,None,None,None,None
1,alpha ventus,"60,48","6 × REpower 5M(5,08 MW, 126,5 m)6 ×AREVAM5000-...",12,"54° 0′ 30″ N, 6° 35′ 54″ O",in Betrieb,2010,
2,BARD Offshore I,400,"BARD5.0(5,0 MW, 122,0 m)",80,"54° 21′ 30″ N, 5° 58′ 30″ O",in Betrieb,2013,
3,Riffgat,"113,4","Siemens SWT-3.6-120(3,78 MW, 120,0 m)",30,"53° 41′ 24″ N, 6° 28′ 48″ O",in Betrieb,2014,[5]
4,Amrumbank West,"302,4","Siemens SWT-3.6-120(3,78 MW, 120,0 m)",80,"54° 30′ 0″ N, 7° 48′ 0″ O",in Betrieb,2015,[6][7]
5,Borkum Riffgrund 1,312,"Siemens SWT-4.0-120(4,0 MW, 120,0 m)",78,"53° 58′ 0″ N, 6° 33′ 0″ O",in Betrieb,2015,[8]
6,Butendiek,288,"Siemens SWT-3.6-120(3,6 MW, 120,0 m)",80,"54° 54′ 0″ N, 7° 45′ 0″ O",in Betrieb,2015,[9]
7,DanTysk,"302,4","Siemens SWT-3.6-120(3,78 MW, 120,0 m)",80,"55° 9′ 0″ N, 7° 10′ 30″ O",in Betrieb,2015,[10]
8,Global Tech I,400,"AREVA Multibrid M5000-116(5,0 MW, 116,0 m)",80,"54° 30′ 0″ N, 6° 21′ 30″ O",in Betrieb,2015,[11]
9,MeerwindSüd/Ost,288,"Siemens SWT-3.6-120(3,6 MW, 120,0 m)",80,"54° 23′ 0″ N, 7° 41′ 0″ O",in Betrieb,2015,[12]
10,Nordsee Ost,"295,2","Senvion6.2M126(6,15 MW, 126,0 m)",48,"54° 26′ 0″ N, 7° 41′ 0″ O",in Betrieb,2015,
11,Trianel Windpark Borkum(Phase 1),200,"AREVA Multibrid M5000-116(5,0 MW, 116,0 m)",40,"54° 2′ 46″ N, 6° 27′ 25″ O",in Betrieb,2015,[13]
12,Gode Wind 1,346,"Siemens SWT-6.0-154(6,3 MW, 154,0 m)",55,"54° 4′ 0″ N, 7° 2′ 0″ O",in Betrieb,2017,
13,Gode Wind 2,264,"Siemens SWT-6.0-154(6,3 MW, 154,0 m)",42,"54° 3′ 0″ N, 7° 1′ 0″ O",in Betrieb,2017,
14,Nordergründe,"110,7","Senvion 6.2M126(6,15 MW, 126,0 m)",18,"53° 50′ 0″ N, 8° 10′ 0″ O",in Betrieb,2017,[14]
15,Nordsee One,"332,1","Senvion 6.2M126(6,15 MW, 126,0 m)",54,"53° 58′ 0″ N, 6° 48′ 0″ O",in Betrieb,2017,[15]
16,Sandbank(Phase 1),288,"Siemens SWT-4.0-130(4,0 MW, 130,0 m)",72,"55° 11′ 0″ N, 6° 51′ 0″ O",in Betrieb,2017,[16]
17,Veja Mate,402,"Siemens SWT-6.0-154(6,0 MW, 154,0 m)",67,"54° 19′ 1″ N, 5° 52′ 15″ O",in Betrieb,2017,[17]
18,Borkum Riffgrund 2,"464,8","MHI Vestas V164-8.0 MW(8,3 MW, 164,0 m)",56,"53° 57′ 21″ N, 6° 29′ 45″ O",in Betrieb,2019,[18]
19,Deutsche Bucht,"260,4","MHI Vestas V164-8.0 MW(8,4 MW, 164,0 m)",31,"54° 18′ 18″ N, 5° 47′ 56″ O",in Betrieb,2019,[19]
20,Merkur Offshore,396,"GE Haliade 150-6 MW(6,0 MW, 151,0 m)",66,"54° 2′ 0″ N, 6° 33′ 0″ O",in Betrieb,2019,[20]
21,Hohe See,"521,85","Siemens SWT-7.0-154(7,35 MW, 154,0 m)",71,"54° 26′ 0″ N, 6° 19′ 0″ O",in Betrieb,2019,[21][22]
22,Albatros(Hohe See Extension),"117,6","Siemens SWT-7.0-154(7,35 MW, 154,0 m)",16,"54° 30′ 0″ N, 6° 24′ 0″ O",in Betrieb,2020,[23][24]
23,Trianel Windpark Borkum(Phase 2),"203,2","Senvion 6.3M152(6,33 MW, 152,0 m)",32,"54° 3′ 0″ N, 6° 27′ 58″ O",in Betrieb,2020,[25]
24,Kaskasi,342,"Siemens Gamesa SG 8.0-167 DD(9,0 MW, 167,0 m)",38,"54° 29′ 20″ N, 7° 41′ 42″ O",in Betrieb,2023[26],Erstmals Einsatz von recycelbaren Rotorblätter...
25,Gode Wind 3,242,"Siemens Gamesa SG 11.0-200 DD(11,0 MW, 200,0 m)",23,"54° 2′ 13″ N, 7° 6′ 36″ O",in Teilbetrieb,2024,7. August 2023: eine von 23 Gründungen install...
26,Borkum Riffgrund(Phase 3),913,"Siemens Gamesa SG 11.0-200 DD(11,0 MW, 200,0 m)",83,"54° 2′ 49″ N, 6° 14′ 2″ O",in Bau,(2025),13.12.2023: Erste Gründung ausgeführt.[30]30.0...
27,He dreiht,960,"MHI-Vestas V236-15.0MW(15,0 MW, 236,0 m)",64,"54° 21′ 54″ N, 6° 11′ 10″ O",in Bau,(2025),23. März 2023: endgültige Investitionsentschei...
28,Nordseecluster A(Flächen N-3.7 und N-3.8),660,"Vestas V236-15.0 MW(15,0 MW, 236,0 m)",44,"54° 2′ 35″ N, 7° 4′ 52″ O",in Planung,(2027),9. September 2021: RWE erhält Zuschlag für 225...
29,Nordlicht I,980,,,"54° 17′ 6″ N, 6° 18′ 11″ O",in Planung,(2027),7. September 2022: RWE Renewables Offshore Hol...
30,Nordseecluster B(Flächen N-3.5 und N-3.6),900,"Vestas V236-15.0 MW(15,0 MW, 236,0 m)",,"54° 1′ 55″ N, 6° 50′ 35″ O",in Planung,(2028),10. August 2023: RWE erhält Zuschlag bei Aussc...
31,Nordlicht II,630,,,"54° 15′ 58″ N, 5° 57′ 0″ O",in Planung,(2028),10. August 2023: RWE erhält Zuschlag bei Aussc...
32,Fläche N-6.7,270,"Mingyang(18,5 MW, 260m)[1]",16,"54° 21′ 40″ N, 5° 50′ 42″ O",in Planung,(2028),10. August 2023: Waterkant Energy erhält Zusch...
33,Fläche N-11.1,2000,,,"54° 43′ 34″ N, 6° 22′ 41″ O",in Planung,(2030),12. Juli 2023: BP erhält Zuschlag bei Ausschre...
34,Fläche N-12.1,2000,,,"54° 46′ 5″ N, 6° 9′ 43″ O",in Planung,(2030),12. Juli 2023: TotalEnergies erhält Zuschlag b...
35,Fläche N-12.2,2000,,,"54° 52′ 23″ N, 6° 7′ 16″ O",in Planung,(2030),12. Juli 2023: BP erhält Zuschlag bei Ausschre...
36,Ostsee,None,None,None,None,None,None,None
37,EnBW Baltic 1,"48,3","Siemens SWT-2.3-93(2,3 MW, 93,0 m)",21,"54° 36′ 32″ N, 12° 39′ 4″ O",in Betrieb,2011,[43]
38,EnBW Baltic 2,288,"Siemens SWT-3.6-120(3,6 MW, 120,0 m)",80,"54° 58′ 55″ N, 13° 9′ 43″ O",in Betrieb,2015,[44]
39,Wikinger,"353,5","AdwenAD 5-135(5,05 MW, 135,0 m)",70,"54° 50′ 2″ N, 14° 4′ 5″ O",in Betrieb,2017,[45]
40,Arkona-Becken Südost,384,"Siemens SWT-6.0-154(6,4 MW, 154,0 m)",60,"54° 46′ 55″ N, 14° 7′ 16″ O",in Betrieb,2019,[46]
41,Arcadis Ost 1,"257,2","MHI Vestas V174-9.5 MW(9,525 MW, 174,0 m)",27,"54° 49′ 23″ N, 13° 38′ 35″ O",in Betrieb,2023,[47]
42,Baltic Eagle,494,"MHI Vestas V174-9.5 MW(9,5 MW, 174,0 m)",52,"54° 49′ 48″ N, 13° 51′ 18″ O",in Bau,(2024),25. April 2023: eine von 50 Gründungen install...
43,Gennaker,927,"Siemens Gamesa SG 8.0-167 DD Flex(9,0 MW, 167,...",103,"54° 36′ 58″ N, 12° 36′ 29″ O",in Planung,(2026),3. Juni 2019: Baugenehmigung erteilt[49][50]
44,Windanker(Zone O-1.3),300,,,"54° 54′ 22″ N, 14° 0′ 18″ O",in Planung,(2026),9. September 2021: RWE Renewables erhält Zusch...
45,Fläche O-2.2,1000,,,"54° 50′ 56″ N, 13° 46′ 30″ O",in Planung,(2030),12. Juli 2023: TotalEnergies erhält Zuschlag b...
46,Wikinger Süd,10,,,"54° 49′ 23″ N, 14° 7′ 37″ O",Planung eingestellt,—,8. April 2022: Bundesnetzagentur hat Zuschlag ...

In [155]:
#link = "https://de.wikipedia.org/wiki/Liste_der_deutschen_Offshore-Windparks"

#offshores = pd.read_html(link,header=0)[0]

In [156]:
#The coorinates ('Kkordinaten') will be split for two variablles
#Latitude and Longitude

# Function to safely split the coordinates into latitude and longitude
fn = lambda x: pd.Series([i.strip() for i in x.split(',')] if isinstance(x, str) else [None, None])

# Apply the function to split the 'Koordinaten' column into two new columns
coord = offshores['Koordinaten'].apply(fn)

# Rename the resulting columns
coord.rename(columns={0: 'Latitude', 1: 'Longitude'}, inplace=True)

# Add the Latitude and Longitude columns to the original dataframe
offshores['Latitude'] = coord['Latitude']
offshores['Longitude'] = coord['Longitude']



offshores.info()
#we see the presence some NaNs 
#it is because the Windparks are 'In Planung'
#One of the possibilities is to remove them from dataset,
#Second is to label them as well (this another idea ) and 
#to label them in differnet colours on the map

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 10 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Name                                             47 non-null     object
 1   Leistung(MW)                                     45 non-null     object
 2   Windkraftanlagentyp(Leistung, Rotordurchmesser)  45 non-null     object
 3   AnzahlWKAs                                       45 non-null     object
 4   Koordinaten                                      45 non-null     object
 5   Status                                           45 non-null     object
 6   Inbetrieb­nahme(Jahr)                            45 non-null     object
 7   Quellen, Anmerkungen                             45 non-null     object
 8   Latitude                                         45 non-null     object
 9   Longitude                                        45 non-null     object
dtypes: object(10)
memory usage: 3.8+ KB

In [157]:
#I removed them so far 
#As well as the rows woth Headers: Nordesee and Ostsee
#offshores.drop(offshores.loc[offshores['Status']=='in Planung'].index, inplace=True)
offshores.drop(offshores.loc[offshores['Name']=='Nordsee'].index, inplace=True)
offshores.drop(offshores.loc[offshores['Name']=='Ostsee'].index, inplace=True)
offshores.drop(offshores.loc[offshores['Status']=='Planung eingestellt'].index, inplace=True)

In [158]:
offshores.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, 1 to 45
Data columns (total 10 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Name                                             44 non-null     object
 1   Leistung(MW)                                     44 non-null     object
 2   Windkraftanlagentyp(Leistung, Rotordurchmesser)  44 non-null     object
 3   AnzahlWKAs                                       44 non-null     object
 4   Koordinaten                                      44 non-null     object
 5   Status                                           44 non-null     object
 6   Inbetrieb­nahme(Jahr)                            44 non-null     object
 7   Quellen, Anmerkungen                             44 non-null     object
 8   Latitude                                         44 non-null     object
 9   Longitude                                        44 non-null     object
dtypes: object(10)
memory usage: 3.8+ KB

In [159]:
offshores

,Name,Leistung(MW),"Windkraftanlagentyp(Leistung, Rotordurchmesser)",AnzahlWKAs,Koordinaten,Status,Inbetrieb­nahme(Jahr),"Quellen, Anmerkungen",Latitude,Longitude
1,alpha ventus,"60,48","6 × REpower 5M(5,08 MW, 126,5 m)6 ×AREVAM5000-...",12,"54° 0′ 30″ N, 6° 35′ 54″ O",in Betrieb,2010,,54° 0′ 30″ N,6° 35′ 54″ O
2,BARD Offshore I,400,"BARD5.0(5,0 MW, 122,0 m)",80,"54° 21′ 30″ N, 5° 58′ 30″ O",in Betrieb,2013,,54° 21′ 30″ N,5° 58′ 30″ O
3,Riffgat,"113,4","Siemens SWT-3.6-120(3,78 MW, 120,0 m)",30,"53° 41′ 24″ N, 6° 28′ 48″ O",in Betrieb,2014,[5],53° 41′ 24″ N,6° 28′ 48″ O
4,Amrumbank West,"302,4","Siemens SWT-3.6-120(3,78 MW, 120,0 m)",80,"54° 30′ 0″ N, 7° 48′ 0″ O",in Betrieb,2015,[6][7],54° 30′ 0″ N,7° 48′ 0″ O
5,Borkum Riffgrund 1,312,"Siemens SWT-4.0-120(4,0 MW, 120,0 m)",78,"53° 58′ 0″ N, 6° 33′ 0″ O",in Betrieb,2015,[8],53° 58′ 0″ N,6° 33′ 0″ O
6,Butendiek,288,"Siemens SWT-3.6-120(3,6 MW, 120,0 m)",80,"54° 54′ 0″ N, 7° 45′ 0″ O",in Betrieb,2015,[9],54° 54′ 0″ N,7° 45′ 0″ O
7,DanTysk,"302,4","Siemens SWT-3.6-120(3,78 MW, 120,0 m)",80,"55° 9′ 0″ N, 7° 10′ 30″ O",in Betrieb,2015,[10],55° 9′ 0″ N,7° 10′ 30″ O
8,Global Tech I,400,"AREVA Multibrid M5000-116(5,0 MW, 116,0 m)",80,"54° 30′ 0″ N, 6° 21′ 30″ O",in Betrieb,2015,[11],54° 30′ 0″ N,6° 21′ 30″ O
9,MeerwindSüd/Ost,288,"Siemens SWT-3.6-120(3,6 MW, 120,0 m)",80,"54° 23′ 0″ N, 7° 41′ 0″ O",in Betrieb,2015,[12],54° 23′ 0″ N,7° 41′ 0″ O
10,Nordsee Ost,"295,2","Senvion6.2M126(6,15 MW, 126,0 m)",48,"54° 26′ 0″ N, 7° 41′ 0″ O",in Betrieb,2015,,54° 26′ 0″ N,7° 41′ 0″ O
11,Trianel Windpark Borkum(Phase 1),200,"AREVA Multibrid M5000-116(5,0 MW, 116,0 m)",40,"54° 2′ 46″ N, 6° 27′ 25″ O",in Betrieb,2015,[13],54° 2′ 46″ N,6° 27′ 25″ O
12,Gode Wind 1,346,"Siemens SWT-6.0-154(6,3 MW, 154,0 m)",55,"54° 4′ 0″ N, 7° 2′ 0″ O",in Betrieb,2017,,54° 4′ 0″ N,7° 2′ 0″ O
13,Gode Wind 2,264,"Siemens SWT-6.0-154(6,3 MW, 154,0 m)",42,"54° 3′ 0″ N, 7° 1′ 0″ O",in Betrieb,2017,,54° 3′ 0″ N,7° 1′ 0″ O
14,Nordergründe,"110,7","Senvion 6.2M126(6,15 MW, 126,0 m)",18,"53° 50′ 0″ N, 8° 10′ 0″ O",in Betrieb,2017,[14],53° 50′ 0″ N,8° 10′ 0″ O
15,Nordsee One,"332,1","Senvion 6.2M126(6,15 MW, 126,0 m)",54,"53° 58′ 0″ N, 6° 48′ 0″ O",in Betrieb,2017,[15],53° 58′ 0″ N,6° 48′ 0″ O
16,Sandbank(Phase 1),288,"Siemens SWT-4.0-130(4,0 MW, 130,0 m)",72,"55° 11′ 0″ N, 6° 51′ 0″ O",in Betrieb,2017,[16],55° 11′ 0″ N,6° 51′ 0″ O
17,Veja Mate,402,"Siemens SWT-6.0-154(6,0 MW, 154,0 m)",67,"54° 19′ 1″ N, 5° 52′ 15″ O",in Betrieb,2017,[17],54° 19′ 1″ N,5° 52′ 15″ O
18,Borkum Riffgrund 2,"464,8","MHI Vestas V164-8.0 MW(8,3 MW, 164,0 m)",56,"53° 57′ 21″ N, 6° 29′ 45″ O",in Betrieb,2019,[18],53° 57′ 21″ N,6° 29′ 45″ O
19,Deutsche Bucht,"260,4","MHI Vestas V164-8.0 MW(8,4 MW, 164,0 m)",31,"54° 18′ 18″ N, 5° 47′ 56″ O",in Betrieb,2019,[19],54° 18′ 18″ N,5° 47′ 56″ O
20,Merkur Offshore,396,"GE Haliade 150-6 MW(6,0 MW, 151,0 m)",66,"54° 2′ 0″ N, 6° 33′ 0″ O",in Betrieb,2019,[20],54° 2′ 0″ N,6° 33′ 0″ O
21,Hohe See,"521,85","Siemens SWT-7.0-154(7,35 MW, 154,0 m)",71,"54° 26′ 0″ N, 6° 19′ 0″ O",in Betrieb,2019,[21][22],54° 26′ 0″ N,6° 19′ 0″ O
22,Albatros(Hohe See Extension),"117,6","Siemens SWT-7.0-154(7,35 MW, 154,0 m)",16,"54° 30′ 0″ N, 6° 24′ 0″ O",in Betrieb,2020,[23][24],54° 30′ 0″ N,6° 24′ 0″ O
23,Trianel Windpark Borkum(Phase 2),"203,2","Senvion 6.3M152(6,33 MW, 152,0 m)",32,"54° 3′ 0″ N, 6° 27′ 58″ O",in Betrieb,2020,[25],54° 3′ 0″ N,6° 27′ 58″ O
24,Kaskasi,342,"Siemens Gamesa SG 8.0-167 DD(9,0 MW, 167,0 m)",38,"54° 29′ 20″ N, 7° 41′ 42″ O",in Betrieb,2023[26],Erstmals Einsatz von recycelbaren Rotorblätter...,54° 29′ 20″ N,7° 41′ 42″ O
25,Gode Wind 3,242,"Siemens Gamesa SG 11.0-200 DD(11,0 MW, 200,0 m)",23,"54° 2′ 13″ N, 7° 6′ 36″ O",in Teilbetrieb,2024,7. August 2023: eine von 23 Gründungen install...,54° 2′ 13″ N,7° 6′ 36″ O
26,Borkum Riffgrund(Phase 3),913,"Siemens Gamesa SG 11.0-200 DD(11,0 MW, 200,0 m)",83,"54° 2′ 49″ N, 6° 14′ 2″ O",in Bau,(2025),13.12.2023: Erste Gründung ausgeführt.[30]30.0...,54° 2′ 49″ N,6° 14′ 2″ O
27,He dreiht,960,"MHI-Vestas V236-15.0MW(15,0 MW, 236,0 m)",64,"54° 21′ 54″ N, 6° 11′ 10″ O",in Bau,(2025),23. März 2023: endgültige Investitionsentschei...,54° 21′ 54″ N,6° 11′ 10″ O
28,Nordseecluster A(Flächen N-3.7 und N-3.8),660,"Vestas V236-15.0 MW(15,0 MW, 236,0 m)",44,"54° 2′ 35″ N, 7° 4′ 52″ O",in Planung,(2027),9. September 2021: RWE erhält Zuschlag für 225...,54° 2′ 35″ N,7° 4′ 52″ O
29,Nordlicht I,980,,,"54° 17′ 6″ N, 6° 18′ 11″ O",in Planung,(2027),7. September 2022: RWE Renewables Offshore Hol...,54° 17′ 6″ N,6° 18′ 11″ O
30,Nordseecluster B(Flächen N-3.5 und N-3.6),900,"Vestas V236-15.0 MW(15,0 MW, 236,0 m)",,"54° 1′ 55″ N, 6° 50′ 35″ O",in Planung,(2028),10. August 2023: RWE erhält Zuschlag bei Aussc...,54° 1′ 55″ N,6° 50′ 35″ O
31,Nordlicht II,630,,,"54° 15′ 58″ N, 5° 57′ 0″ O",in Planung,(2028),10. August 2023: RWE erhält Zuschlag bei Aussc...,54° 15′ 58″ N,5° 57′ 0″ O
32,Fläche N-6.7,270,"Mingyang(18,5 MW, 260m)[1]",16,"54° 21′ 40″ N, 5° 50′ 42″ O",in Planung,(2028),10. August 2023: Waterkant Energy erhält Zusch...,54° 21′ 40″ N,5° 50′ 42″ O
33,Fläche N-11.1,2000,,,"54° 43′ 34″ N, 6° 22′ 41″ O",in Planung,(2030),12. Juli 2023: BP erhält Zuschlag bei Ausschre...,54° 43′ 34″ N,6° 22′ 41″ O
34,Fläche N-12.1,2000,,,"54° 46′ 5″ N, 6° 9′ 43″ O",in Planung,(2030),12. Juli 2023: TotalEnergies erhält Zuschlag b...,54° 46′ 5″ N,6° 9′ 43″ O
35,Fläche N-12.2,2000,,,"54° 52′ 23″ N, 6° 7′ 16″ O",in Planung,(2030),12. Juli 2023: BP erhält Zuschlag bei Ausschre...,54° 52′ 23″ N,6° 7′ 16″ O
37,EnBW Baltic 1,"48,3","Siemens SWT-2.3-93(2,3 MW, 93,0 m)",21,"54° 36′ 32″ N, 12° 39′ 4″ O",in Betrieb,2011,[43],54° 36′ 32″ N,12° 39′ 4″ O
38,EnBW Baltic 2,288,"Siemens SWT-3.6-120(3,6 MW, 120,0 m)",80,"54° 58′ 55″ N, 13° 9′ 43″ O",in Betrieb,2015,[44],54° 58′ 55″ N,13° 9′ 43″ O
39,Wikinger,"353,5","AdwenAD 5-135(5,05 MW, 135,0 m)",70,"54° 50′ 2″ N, 14° 4′ 5″ O",in Betrieb,2017,[45],54° 50′ 2″ N,14° 4′ 5″ O
40,Arkona-Becken Südost,384,"Siemens SWT-6.0-154(6,4 MW, 154,0 m)",60,"54° 46′ 55″ N, 14° 7′ 16″ O",in Betrieb,2019,[46],54° 46′ 55″ N,14° 7′ 16″ O
41,Arcadis Ost 1,"257,2","MHI Vestas V174-9.5 MW(9,525 MW, 174,0 m)",27,"54° 49′ 23″ N, 13° 38′ 35″ O",in Betrieb,2023,[47],54° 49′ 23″ N,13° 38′ 35″ O
42,Baltic Eagle,494,"MHI Vestas V174-9.5 MW(9,5 MW, 174,0 m)",52,"54° 49′ 48″ N, 13° 51′ 18″ O",in Bau,(2024),25. April 2023: eine von 50 Gründungen install...,54° 49′ 48″ N,13° 51′ 18″ O
43,Gennaker,927,"Siemens Gamesa SG 8.0-167 DD Flex(9,0 MW, 167,...",103,"54° 36′ 58″ N, 12° 36′ 29″ O",in Planung,(2026),3. Juni 2019: Baugenehmigung erteilt[49][50],54° 36′ 58″ N,12° 36′ 29″ O
44,Windanker(Zone O-1.3),300,,,"54° 54′ 22″ N, 14° 0′ 18″ O",in Planung,(2026),9. September 2021: RWE Renewables erhält Zusch...,54° 54′ 22″ N,14° 0′ 18″ O
45,Fläche O-2.2,1000,,,"54° 50′ 56″ N, 13° 46′ 30″ O",in Planung,(2030),12. Juli 2023: TotalEnergies erhält Zuschlag b...,54° 50′ 56″ N,13° 46′ 30″ O

In [160]:
Latitude_cor = []

# Iterate over each latitude in the 'Latitude' column
for lat in offshores['Latitude']:
    if pd.notna(lat):  # Check if the value is not None or NaN
        # Split the latitude by the degree, minute, and second symbols
        deg, minutes, seconds = re.split('[°\′″]', lat)
        Latitude_cor.append(float(deg) + float(minutes)/60 + float(seconds)/(60*60))
    else:
        Latitude_cor.append(np.nan)  # Append NaN if the value is None or NaN

Longitude_cor = []

# Iterate over each longitude in the 'Longitude' column
for long in offshores['Longitude']:
    if pd.notna(long):  # Check if the value is not None or NaN
        # Split the longitude by the degree, minute, and second symbols
        deg, minutes, seconds = re.split('[°\′″]', long)
        Longitude_cor.append(float(deg) + float(minutes)/60 + float(seconds)/(60*60))
    else:
        Longitude_cor.append(np.nan)  # Append NaN if the value is None or NaN

# Check the length of the resulting lists
print(len(Latitude_cor))
print(len(Longitude_cor))

ValueError: too many values to unpack (expected 3)

In [161]:
offshores['Latitude'] = offshores['Latitude'].str.split('N', n=1).str.get(0)
offshores['Longitude'] = offshores['Longitude'].str.split('O', n=1).str.get(0)


offshores['Latitude'] = offshores['Latitude'].str.split('″', n=1).str.get(0)
offshores['Longitude'] = offshores['Longitude'].str.split('″', n=1).str.get(0)


Latitude_cor=[]

for lat in offshores['Latitude']:
    deg, minutes, seconds =  re.split('[°\′]', lat)
    Latitude_cor.append(float(deg) + float(minutes)/60 + float(seconds)/(60*60))
    
Longitude_cor=[]

for long in offshores['Longitude']:
    deg, minutes, seconds =  re.split('[°\′]', long)
    Longitude_cor.append(float(deg) + float(minutes)/60 + float(seconds)/(60*60))
    
len(Latitude_cor)

44

In [162]:
offshores['Latitude_cor']=Latitude_cor
offshores['Longitude_cor']=Longitude_cor
offshores.head(3)

,Name,Leistung(MW),"Windkraftanlagentyp(Leistung, Rotordurchmesser)",AnzahlWKAs,Koordinaten,Status,Inbetrieb­nahme(Jahr),"Quellen, Anmerkungen",Latitude,Longitude,Latitude_cor,Longitude_cor
1,alpha ventus,"60,48","6 × REpower 5M(5,08 MW, 126,5 m)6 ×AREVAM5000-...",12,"54° 0′ 30″ N, 6° 35′ 54″ O",in Betrieb,2010,,54° 0′ 30,6° 35′ 54,54.008333,6.598333
2,BARD Offshore I,400,"BARD5.0(5,0 MW, 122,0 m)",80,"54° 21′ 30″ N, 5° 58′ 30″ O",in Betrieb,2013,,54° 21′ 30,5° 58′ 30,54.358333,5.975000
3,Riffgat,"113,4","Siemens SWT-3.6-120(3,78 MW, 120,0 m)",30,"53° 41′ 24″ N, 6° 28′ 48″ O",in Betrieb,2014,[5],53° 41′ 24,6° 28′ 48,53.690000,6.480000

In [163]:
offshores=offshores[['Name', 'AnzahlWKAs', 'Leistung(MW)', 'Latitude_cor', 'Longitude_cor','Status', 'Windkraftanlagentyp(Leistung, Rotordurchmesser)', 'Inbetrieb­nahme(Jahr)']]
offshores.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, 1 to 45
Data columns (total 8 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Name                                             44 non-null     object
 1   AnzahlWKAs                                       44 non-null     object
 2   Leistung(MW)                                     44 non-null     object
 3   Latitude_cor                                     44 non-null     float64
 4   Longitude_cor                                    44 non-null     float64
 5   Status                                           44 non-null     object
 6   Windkraftanlagentyp(Leistung, Rotordurchmesser)  44 non-null     object
 7   Inbetrieb­nahme(Jahr)                            44 non-null     object
dtypes: float64(2), object(6)
memory usage: 3.1+ KB

In [164]:
# Replace commas with dots and convert to float
offshores['Leistung(MW)'] = offshores['Leistung(MW)'].str.replace(',', '.').astype(float)

# Now, the 'Leistung' column should be a float type and ready for calculations
print(offshores['Leistung(MW)'])

1       60.48
2      400.00
3      113.40
4      302.40
5      312.00
6      288.00
7      302.40
8      400.00
9      288.00
10     295.20
11     200.00
12     346.00
13     264.00
14     110.70
15     332.10
16     288.00
17     402.00
18     464.80
19     260.40
20     396.00
21     521.85
22     117.60
23     203.20
24     342.00
25     242.00
26     913.00
27     960.00
28     660.00
29     980.00
30     900.00
31     630.00
32     270.00
33    2000.00
34    2000.00
35    2000.00
37      48.30
38     288.00
39     353.50
40     384.00
41     257.20
42     494.00
43     927.00
44     300.00
45    1000.00
Name: Leistung(MW), dtype: float64

/var/folders/bg/6h6fxpzx7_v6jgvd0c31r_7m0000gn/T/ipykernel_987/2984299201.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offshores['Leistung(MW)'] = offshores['Leistung(MW)'].str.replace(',', '.').astype(float)

In [165]:
offshores['Windkraftanlagentyp(Leistung, Rotordurchmesser)'].unique()

array(['6 × REpower 5M(5,08\xa0MW, 126,5\xa0m)6 ×AREVAM5000-116(5,0\xa0MW, 116,0\xa0m)',
       'BARD5.0(5,0\xa0MW, 122,0\xa0m)',
       'Siemens SWT-3.6-120(3,78\xa0MW, 120,0\xa0m)',
       'Siemens SWT-4.0-120(4,0\xa0MW, 120,0\xa0m)',
       'Siemens SWT-3.6-120(3,6\xa0MW, 120,0\xa0m)',
       'AREVA Multibrid M5000-116(5,0\xa0MW, 116,0\xa0m)',
       'Senvion6.2M126(6,15\xa0MW, 126,0\xa0m)',
       'Siemens SWT-6.0-154(6,3\xa0MW, 154,0\xa0m)',
       'Senvion 6.2M126(6,15\xa0MW, 126,0\xa0m)',
       'Siemens SWT-4.0-130(4,0\xa0MW, 130,0\xa0m)',
       'Siemens SWT-6.0-154(6,0\xa0MW, 154,0\xa0m)',
       'MHI Vestas V164-8.0 MW(8,3\xa0MW, 164,0\xa0m)',
       'MHI Vestas V164-8.0 MW(8,4\xa0MW, 164,0\xa0m)',
       'GE Haliade 150-6 MW(6,0\xa0MW, 151,0\xa0m)',
       'Siemens SWT-7.0-154(7,35\xa0MW, 154,0\xa0m)',
       'Senvion 6.3M152(6,33\xa0MW, 152,0\xa0m)',
       'Siemens Gamesa SG 8.0-167 DD(9,0\xa0MW, 167,0\xa0m)',
       'Siemens Gamesa SG 11.0-200 DD(11,0\xa0MW, 200,0\xa0m)',
       'MHI-Vestas V236-15.0MW(15,0\xa0MW, 236,0\xa0m)',
       'Vestas V236-15.0 MW(15,0\xa0MW, 236,0\xa0m)', '',
       'Vestas V236-15.0 MW(15,0 MW, 236,0 m)',
       'Mingyang(18,5 MW, 260m)[1]',
       'Siemens SWT-2.3-93(2,3\xa0MW, 93,0\xa0m)',
       'AdwenAD 5-135(5,05\xa0MW, 135,0\xa0m)',
       'Siemens SWT-6.0-154(6,4\xa0MW, 154,0\xa0m)',
       'MHI Vestas V174-9.5 MW(9,525\xa0MW, 174,0\xa0m)',
       'MHI Vestas V174-9.5 MW(9,5\xa0MW, 174,0\xa0m)',
       'Siemens Gamesa SG 8.0-167 DD Flex(9,0\xa0MW, 167,0\xa0m)'],
      dtype=object)

In [166]:
# Replace non-breaking spaces (\xa0) with regular spaces
offshores['Windkraftanlagentyp(Leistung, Rotordurchmesser)'] = offshores['Windkraftanlagentyp(Leistung, Rotordurchmesser)'].str.replace('\xa0', ' ', regex=False)

# You can also replace them with an empty string if you don't want any spaces
# offshores['Leistung(MW)'] = offshores['Leistung(MW)'].str.replace('\xa0', '', regex=False)

# Check the cleaned data
print(offshores['Windkraftanlagentyp(Leistung, Rotordurchmesser)'])

1     6 × REpower 5M(5,08 MW, 126,5 m)6 ×AREVAM5000-...
2                              BARD5.0(5,0 MW, 122,0 m)
3                 Siemens SWT-3.6-120(3,78 MW, 120,0 m)
4                 Siemens SWT-3.6-120(3,78 MW, 120,0 m)
5                  Siemens SWT-4.0-120(4,0 MW, 120,0 m)
6                  Siemens SWT-3.6-120(3,6 MW, 120,0 m)
7                 Siemens SWT-3.6-120(3,78 MW, 120,0 m)
8            AREVA Multibrid M5000-116(5,0 MW, 116,0 m)
9                  Siemens SWT-3.6-120(3,6 MW, 120,0 m)
10                     Senvion6.2M126(6,15 MW, 126,0 m)
11           AREVA Multibrid M5000-116(5,0 MW, 116,0 m)
12                 Siemens SWT-6.0-154(6,3 MW, 154,0 m)
13                 Siemens SWT-6.0-154(6,3 MW, 154,0 m)
14                    Senvion 6.2M126(6,15 MW, 126,0 m)
15                    Senvion 6.2M126(6,15 MW, 126,0 m)
16                 Siemens SWT-4.0-130(4,0 MW, 130,0 m)
17                 Siemens SWT-6.0-154(6,0 MW, 154,0 m)
18              MHI Vestas V164-8.0 MW(8,3 MW, 164,0 m)
19              MHI Vestas V164-8.0 MW(8,4 MW, 164,0 m)
20                 GE Haliade 150-6 MW(6,0 MW, 151,0 m)
21                Siemens SWT-7.0-154(7,35 MW, 154,0 m)
22                Siemens SWT-7.0-154(7,35 MW, 154,0 m)
23                    Senvion 6.3M152(6,33 MW, 152,0 m)
24        Siemens Gamesa SG 8.0-167 DD(9,0 MW, 167,0 m)
25      Siemens Gamesa SG 11.0-200 DD(11,0 MW, 200,0 m)
26      Siemens Gamesa SG 11.0-200 DD(11,0 MW, 200,0 m)
27             MHI-Vestas V236-15.0MW(15,0 MW, 236,0 m)
28                Vestas V236-15.0 MW(15,0 MW, 236,0 m)
29
30                Vestas V236-15.0 MW(15,0 MW, 236,0 m)
31
32                           Mingyang(18,5 MW, 260m)[1]
33
34
35
37                   Siemens SWT-2.3-93(2,3 MW, 93,0 m)
38                 Siemens SWT-3.6-120(3,6 MW, 120,0 m)
39                      AdwenAD 5-135(5,05 MW, 135,0 m)
40                 Siemens SWT-6.0-154(6,4 MW, 154,0 m)
41            MHI Vestas V174-9.5 MW(9,525 MW, 174,0 m)
42              MHI Vestas V174-9.5 MW(9,5 MW, 174,0 m)
43    Siemens Gamesa SG 8.0-167 DD Flex(9,0 MW, 167,...
44
45
Name: Windkraftanlagentyp(Leistung, Rotordurchmesser), dtype: object

/var/folders/bg/6h6fxpzx7_v6jgvd0c31r_7m0000gn/T/ipykernel_987/281557747.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offshores['Windkraftanlagentyp(Leistung, Rotordurchmesser)'] = offshores['Windkraftanlagentyp(Leistung, Rotordurchmesser)'].str.replace('\xa0', ' ', regex=False)

In [167]:
offshores.to_csv('Offshores_Windparks.csv', index=False)

In [168]:
df=pd.read_csv('Offshores_Windparks.csv')

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 8 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Name                                             44 non-null     object
 1   AnzahlWKAs                                       36 non-null     float64
 2   Leistung(MW)                                     44 non-null     float64
 3   Latitude_cor                                     44 non-null     float64
 4   Longitude_cor                                    44 non-null     float64
 5   Status                                           44 non-null     object
 6   Windkraftanlagentyp(Leistung, Rotordurchmesser)  37 non-null     object
 7   Inbetrieb­nahme(Jahr)                            44 non-null     object
dtypes: float64(4), object(4)
memory usage: 2.9+ KB

In [151]:
df

,Name,AnzahlWKAs,Leistung(MW),Latitude_cor,Longitude_cor,Status,"Windkraftanlagentyp(Leistung, Rotordurchmesser)",Inbetrieb­nahme(Jahr)
0,alpha ventus,12.0,60.48,54.008333,6.598333,in Betrieb,"6 × REpower 5M(5,08 MW, 126,5 m)6 ×AREVAM5000-...",2010
1,BARD Offshore I,80.0,400.00,54.358333,5.975000,in Betrieb,"BARD5.0(5,0 MW, 122,0 m)",2013
2,Riffgat,30.0,113.40,53.690000,6.480000,in Betrieb,"Siemens SWT-3.6-120(3,78 MW, 120,0 m)",2014
3,Amrumbank West,80.0,302.40,54.500000,7.800000,in Betrieb,"Siemens SWT-3.6-120(3,78 MW, 120,0 m)",2015
4,Borkum Riffgrund 1,78.0,312.00,53.966667,6.550000,in Betrieb,"Siemens SWT-4.0-120(4,0 MW, 120,0 m)",2015
5,Butendiek,80.0,288.00,54.900000,7.750000,in Betrieb,"Siemens SWT-3.6-120(3,6 MW, 120,0 m)",2015
6,DanTysk,80.0,302.40,55.150000,7.175000,in Betrieb,"Siemens SWT-3.6-120(3,78 MW, 120,0 m)",2015
7,Global Tech I,80.0,400.00,54.500000,6.358333,in Betrieb,"AREVA Multibrid M5000-116(5,0 MW, 116,0 m)",2015
8,MeerwindSüd/Ost,80.0,288.00,54.383333,7.683333,in Betrieb,"Siemens SWT-3.6-120(3,6 MW, 120,0 m)",2015
9,Nordsee Ost,48.0,295.20,54.433333,7.683333,in Betrieb,"Senvion6.2M126(6,15 MW, 126,0 m)",2015
10,Trianel Windpark Borkum(Phase 1),40.0,200.00,54.046111,6.456944,in Betrieb,"AREVA Multibrid M5000-116(5,0 MW, 116,0 m)",2015
11,Gode Wind 1,55.0,346.00,54.066667,7.033333,in Betrieb,"Siemens SWT-6.0-154(6,3 MW, 154,0 m)",2017
12,Gode Wind 2,42.0,264.00,54.050000,7.016667,in Betrieb,"Siemens SWT-6.0-154(6,3 MW, 154,0 m)",2017
13,Nordergründe,18.0,110.70,53.833333,8.166667,in Betrieb,"Senvion 6.2M126(6,15 MW, 126,0 m)",2017
14,Nordsee One,54.0,332.10,53.966667,6.800000,in Betrieb,"Senvion 6.2M126(6,15 MW, 126,0 m)",2017
15,Sandbank(Phase 1),72.0,288.00,55.183333,6.850000,in Betrieb,"Siemens SWT-4.0-130(4,0 MW, 130,0 m)",2017
16,Veja Mate,67.0,402.00,54.316944,5.870833,in Betrieb,"Siemens SWT-6.0-154(6,0 MW, 154,0 m)",2017
17,Borkum Riffgrund 2,56.0,464.80,53.955833,6.495833,in Betrieb,"MHI Vestas V164-8.0 MW(8,3 MW, 164,0 m)",2019
18,Deutsche Bucht,31.0,260.40,54.305000,5.798889,in Betrieb,"MHI Vestas V164-8.0 MW(8,4 MW, 164,0 m)",2019
19,Merkur Offshore,66.0,396.00,54.033333,6.550000,in Betrieb,"GE Haliade 150-6 MW(6,0 MW, 151,0 m)",2019
20,Hohe See,71.0,521.85,54.433333,6.316667,in Betrieb,"Siemens SWT-7.0-154(7,35 MW, 154,0 m)",2019
21,Albatros(Hohe See Extension),16.0,117.60,54.500000,6.400000,in Betrieb,"Siemens SWT-7.0-154(7,35 MW, 154,0 m)",2020
22,Trianel Windpark Borkum(Phase 2),32.0,203.20,54.050000,6.466111,in Betrieb,"Senvion 6.3M152(6,33 MW, 152,0 m)",2020
23,Kaskasi,38.0,342.00,54.488889,7.695000,in Betrieb,"Siemens Gamesa SG 8.0-167 DD(9,0 MW, 167,0 m)",2023[26]
24,Gode Wind 3,23.0,242.00,54.036944,7.110000,in Teilbetrieb,"Siemens Gamesa SG 11.0-200 DD(11,0 MW, 200,0 m)",2024
25,Borkum Riffgrund(Phase 3),83.0,913.00,54.046944,6.233889,in Bau,"Siemens Gamesa SG 11.0-200 DD(11,0 MW, 200,0 m)",(2025)
26,He dreiht,64.0,960.00,54.365000,6.186111,in Bau,"MHI-Vestas V236-15.0MW(15,0 MW, 236,0 m)",(2025)
27,Nordseecluster A(Flächen N-3.7 und N-3.8),44.0,660.00,54.043056,7.081111,in Planung,"Vestas V236-15.0 MW(15,0 MW, 236,0 m)",(2027)
28,Nordlicht I,NaN,980.00,54.285000,6.303056,in Planung,NaN,(2027)
29,Nordseecluster B(Flächen N-3.5 und N-3.6),NaN,900.00,54.031944,6.843056,in Planung,"Vestas V236-15.0 MW(15,0 MW, 236,0 m)",(2028)
30,Nordlicht II,NaN,630.00,54.266111,5.950000,in Planung,NaN,(2028)
31,Fläche N-6.7,16.0,270.00,54.361111,5.845000,in Planung,"Mingyang(18,5 MW, 260m)[1]",(2028)
32,Fläche N-11.1,NaN,2000.00,54.726111,6.378056,in Planung,NaN,(2030)
33,Fläche N-12.1,NaN,2000.00,54.768056,6.161944,in Planung,NaN,(2030)
34,Fläche N-12.2,NaN,2000.00,54.873056,6.121111,in Planung,NaN,(2030)
35,EnBW Baltic 1,21.0,48.30,54.608889,12.651111,in Betrieb,"Siemens SWT-2.3-93(2,3 MW, 93,0 m)",2011
36,EnBW Baltic 2,80.0,288.00,54.981944,13.161944,in Betrieb,"Siemens SWT-3.6-120(3,6 MW, 120,0 m)",2015
37,Wikinger,70.0,353.50,54.833889,14.068056,in Betrieb,"AdwenAD 5-135(5,05 MW, 135,0 m)",2017
38,Arkona-Becken Südost,60.0,384.00,54.781944,14.121111,in Betrieb,"Siemens SWT-6.0-154(6,4 MW, 154,0 m)",2019
39,Arcadis Ost 1,27.0,257.20,54.823056,13.643056,in Betrieb,"MHI Vestas V174-9.5 MW(9,525 MW, 174,0 m)",2023
40,Baltic Eagle,52.0,494.00,54.830000,13.855000,in Bau,"MHI Vestas V174-9.5 MW(9,5 MW, 174,0 m)",(2024)
41,Gennaker,103.0,927.00,54.616111,12.608056,in Planung,"Siemens Gamesa SG 8.0-167 DD Flex(9,0 MW, 167,...",(2026)
42,Windanker(Zone O-1.3),NaN,300.00,54.906111,14.005000,in Planung,NaN,(2026)
43,Fläche O-2.2,NaN,1000.00,54.848889,13.775000,in Planung,NaN,(2030)